#XTerm*faceName: freeMono:size=12
XTerm*faceName: Liberation\ Mono\ for\ Powerline:size=11
XTerm*background: #121212
XTerm*foreground: #ffffff

XTerm*dynamicColors: true
*customization: -color
XTerm*termName:  xterm-256color
